@font-face {
	font-family: 'Stardom';
	src: url('fonts/Stardom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.spark {
	position: absolute;
	width: 4px;
	height: 2px;
	background: rgb(255, 255, 255);
	pointer-events: none;
	animation: spark-animation 0.6s ease-out forwards;
}

html,
body {
	height: 100%;
	background: url(../img/Body.png);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}
a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}
ul li:last-child {
	margin-bottom: 0;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
button,
label {
	cursor: pointer;
}
input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type='radio'],
input[type='checkbox'] {
	display: none;
}
input::placeholder {
	color: inherit;
}
button {
	cursor: pointer;
}
input,
textarea {
	display: block;
	resize: none;
}
body {
	font-size: 17px;
	line-height: 19px;
	color: #fff;
	width: 100%;
	font-family: 'Montserrat', arial, sans-serif;
}
.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn {
	display: none;
}
section {
	padding: 50px 0;
}
.dib {
	display: inline-block;
}
.hover {
	transition: 0.3s;
}
.hover:hover {
	color: #be963f;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */
header {
	display: block;
	unicode-bidi: isolate;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	padding: 50px 200px;
	-webkit-transition: background-color 0.3s ease 0s;
	-o-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}
.header._scroll {
	position: fixed;
	background-color: rgba(8, 70, 136, 0.155);
	width: 100%;
	transition: background-color 0.3s ease 0s;
}

.head_search_logo_btn {
	padding: 20px 0;
}

/* logo */
.head_logo {
	margin: 20px 0;
}
h1 {
	font-family: 'Stardom', serif;
	font-weight: 700;
	font-size: 36px;
}
.dot {
	color: #41ead4;
}

/* поиск  */
.head_search_menu {
	position: relative;
	margin: 20px -190px 20px 0;
}
form {
	position: absolute;
	width: 300px;
	height: 24px;
}
.search {
	padding: 0 42px 0 15px;
	border: none;
	outline: none;
	background: transparent;
	transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	color: #fff;
	position: absolute;
	cursor: pointer;
	background: url(../img/icons/search.svg) right 1px no-repeat;
	width: 24px;
	height: 24px;
}
.search:focus {
	width: 300px;
	z-index: 1;
	border-bottom: 2px solid #f9f0da;
}

/* кнопка MENU */
.btn {
	background: #00c9e0;
	border-radius: 30px;
	font-weight: 600;
	line-height: 19px;
	height: 62px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 167px;
	padding: 14px 0;
	transition: all 0.5s ease-in-out;
	color: #fff;
	border: none;
	display: flex;
}

.btn:hover {
	box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .link {
	position: absolute;
	right: 200px;
	top: 100px;
	width: 30px;
	height: 2px;
	background-color: white;
	border-radius: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in-out 0s;
}

.btn .text {
	transform: translateX(5px);
}

.btn:hover .link {
	right: 400px;
	transition: all 0.5s ease-in-out 0;
	opacity: 0;
}

.btn:hover .text {
	transition: all 0.5s ease-in-out 0;
	opacity: 1;
}

.btn:focus {
	outline: none;
}

.btn:active .link {
	transform: scale(0.85);
}

.star-1 {
	position: absolute;
	top: 38%;
	left: 75%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
	opacity: 0;
}

.star-2 {
	position: absolute;
	top: 45%;
	left: 75%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.star-3 {
	position: absolute;
	top: 55%;
	left: 80%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.star-4 {
	position: absolute;
	top: 36%;
	left: 85%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.star-5 {
	position: absolute;
	top: 45%;
	left: 84%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.star-6 {
	position: absolute;
	top: 50%;
	left: 84%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.btn:hover {
	background: #000000;
	color: #ffffff;
	box-shadow: 0 0 80px #ffffff8c;
}

.btn:hover .star-1 {
	position: absolute;
	top: 25%;
	left: 73%;
	width: 20px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.btn:hover .star-2 {
	position: absolute;
	top: 45%;
	left: 73%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.btn:hover .star-3 {
	position: absolute;
	top: 65%;
	left: 74%;
	width: 10px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.btn:hover .star-4 {
	position: absolute;
	top: 25%;
	left: 87%;
	width: 20px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.btn:hover .star-5 {
	position: absolute;
	top: 45%;
	left: 88%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.btn:hover .star-6 {
	position: absolute;
	top: 65%;
	left: 87%;
	width: 10px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.fil0 {
	fill: #fffdef;
}

/* Блок-1 main */
.Home_main {
	background: url(../img/menu.jpg) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.Home_main::before {
	content: '';
	position: absolute;
	bottom: -39px;
	left: 0;
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	background: linear-gradient(
		180deg,
		rgba(1, 22, 39, 0) 0%,
		#011627 76.64%,
		#021d33 100%
	);
	z-index: 0;
}

/* Text main */
.home_main_tit {
	justify-content: center;
	text-align: center;
	width: 640px;
	height: 200px;
	margin: 190px 280px 170px;
}
.home_tit {
	font-family: 'Stardom';
	font-weight: 700;
	font-size: 95px;
	text-align: center;
	padding-bottom: 45px;
}
.home_txt {
	padding: 20px 0;
	font-weight: 600;
}
.home_txt_in {
	font-size: 15px;
	line-height: 20px;
}

/* Ссылки main */
.main_link {
	margin: 0 78px;
}
.main_link_txt {
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.link_line {
	width: 2px;
	height: 80px;
	background: #09f4f4;
}
.link_txt {
	transform: rotate(270deg);
	display: inline-block;
	font-size: 15px;
}
.link_img {
	padding: 10px 25px;
}

/* фон */
.main_img {
	background: url(../img/LIGHTS_body.svg) center no-repeat;
	background-size: cover;
	height: 2963px;
}

/* Заголовок */
.menu_info {
	width: 861px;
	margin: 0 150px;
}
.menu_tit_info {
	padding-top: 5px;
	font-family: 'Stardom';
	font-size: 40px;
	font-weight: 700;
}
.menu_txt_info {
	width: 450px;
}

/* Меню информация */
.main_menu_info {
	position: relative;
	margin: 50px auto 150px;
	width: 1000px;
}

.main_menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 30px 50px;
	position: relative;
}

.main_menu a {
	color: #ffffff90;
	text-decoration: none;
	font-size: 16px;
	position: relative;
	transition: color 0.4s ease-in-out;
	font-style: normal;
	font-weight: 700;
	outline: 0;
	outline-offset: 0;
	width: 100%;
	font-size: 16px;
	line-height: 110%;
	text-align: center;
	letter-spacing: -0.02em;
	opacity: 0.5;
	z-index: 1000;
}

.main_menu a:hover {
	color: #41ead4;
}

.menu-item .active {
	color: #41ead4;
}

/* Основная линия */
.progressBar {
	position: absolute;
	height: 2px;
	background: #41ead4;
	width: 1000px;
	bottom: -5px;
	left: 0;
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}

/* Вспомогательная линия для эффекта увеличения */
.progressHighlight {
	position: absolute;
	height: 2px;
	background: #41ead4;
	width: 0px;
	bottom: -5px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

/* card */
.slider_container {
	position: relative;
	width: 400px;
	height: 500px;
	margin: 15px 0 0 150px;
}
.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.slide .swiper-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.slide.active {
	opacity: 1;
}
.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0px 5px 20px rgba(0, 255, 200, 0.2);
}
.slide-info {
	position: absolute;
	overflow: hidden;
	top: 185px;
	left: 5px;
	color: white;
	z-index: 1;
	width: 200px;
}
.line {
	border-top: 3px solid #41ead4;
	width: 117px;
	height: 20px;
	border-left: 3px solid #41ead4;
	margin-bottom: 5px;
	transform-origin: left;
	transition: transform 0.5s ease-in-out;
}

.number {
	font-size: 20px;
	color: #41ead4;
	font-weight: 600;
	margin-bottom: 10px;
}
.title {
	font-size: 14px;
	font-weight: bold;
}
.slider {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 87%;
}

.swiper-button-prev {
	background: url(../img/prev__arrow.png) center no-repeat;
	width: 67px;
	height: 65px;
	left: 66%;
	transition: 0.2s;
}

.swiper-button-prev:hover {
	opacity: 0.9;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-next {
	background: url(../img/next__arrow.png) center no-repeat;
	width: 67px;
	height: 65px;
	right: -1px;
	transition: 0.2s;
}

.swiper-button-next:hover {
	opacity: 0.9;
}

.swiper-button-next::after {
	display: none;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.2);
	border: none;
	color: white;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
}
.prev {
	left: 10px;
}
.next {
	right: 10px;
}
.prev:hover,
.next:hover {
	background: rgba(255, 255, 255, 0.4);
}
.dots_img {
	width: 230px;
	height: 230px;
	bottom: -54px;
	left: -54px;
	position: absolute;
}

/* кнопка */
.button {
	position: relative;
	background: #00c9e0;
	border-radius: 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	height: 62px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 250px;
	padding: 14px 0;
	transition: 0.3s;
	color: #fff;
}

.button:hover {
	box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.button .btn_link {
	position: absolute;
	right: -15px;
	top: 30px;
	width: 30px;
	height: 2px;
	background-color: white;
	border-radius: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in-out 0s;
}

.button .text {
	transform: translateX(5px);
}

.button:hover .btn_link {
	right: 200px;
	transition: all 0.5s ease-in-out 0;
	opacity: 0;
}

.button:hover .text {
	transition: all 0.5s ease-in-out 0;
	opacity: 1;
}

.button:focus {
	outline: none;
}

.button:active .btn_link {
	transform: scale(0.85);
}

.Star-1 {
	position: absolute;
	top: 1%;
	left: 4%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
	opacity: 0;
}

.Star-2 {
	position: absolute;
	top: 33%;
	left: 0%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.Star-3 {
	position: absolute;
	top: 73%;
	left: 8%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.Star-4 {
	position: absolute;
	top: 1%;
	left: 85%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.Star-5 {
	position: absolute;
	top: 33%;
	left: 90%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.Star-6 {
	position: absolute;
	top: 73%;
	left: 84%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #fffdef);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
	opacity: 0;
}

.button:hover {
	background: #021d33;
	color: #ffffff;
	box-shadow: 0 0 80px #ffffff8c;
}

.button:hover .Star-1 {
	position: absolute;
	top: -30%;
	left: -15%;
	width: 20px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.button:hover .Star-2 {
	position: absolute;
	top: 35%;
	left: -15%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.button:hover .Star-3 {
	position: absolute;
	top: 90%;
	left: -10%;
	width: 10px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.button:hover .Star-4 {
	position: absolute;
	top: -30%;
	left: 100%;
	width: 20px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.button:hover .Star-5 {
	position: absolute;
	top: 35%;
	left: 109%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.button:hover .Star-6 {
	position: absolute;
	top: 90%;
	left: 107%;
	width: 10px;
	height: auto;
	filter: drop-shadow(0 0 10px #fffdef);
	z-index: 2;
	opacity: 1;
}

.fil0 {
	fill: #fffdef;
}

/* текст */
.Adventure_text {
	width: 485px;
	height: 300px;
	margin: 110px 110px 0 0;
}
.Adventure_tit {
	font-size: 65px;
	font-family: 'Stardom';
	padding-bottom: 30px;
}
.Chill_txt {
	font-size: 16px;
	font-weight: 500;
	padding: 25px 0;
}
.Adventure_txt {
	font-size: 16px;
	padding-bottom: 25px;
}

.menu_link_img {
	width: 164px;
	height: 95px;
	margin: 50px 0 0 1100px;
	padding: 25px;
}
.menu_link_txt {
	margin: 10px;
}
.menu_img {
	bottom: 0;
	top: 15px;
}
.indicator_link {
	width: 154px;
	height: 25px;
	right: 0;
	border-bottom: 2px solid #41ead4;
	border-right: 2px solid #41ead4;
	padding: 0 3px;
}
.main_base {
	height: 100%;
	background: url(../img/about.png) center no-repeat;
	background-size: cover;
}
.info_text {
	width: 390px;
	height: 371px;
	font-size: 18px;
	margin: 270px 27px;
}
.About_tit {
	font-size: 73px;
	font-family: 'Stardom';
	padding: 20px 0;
	margin-bottom: 30px;
}
.info_txt {
	font-weight: 600;
	padding: 10px 0;
	margin-bottom: 25px;
}
.info_tit {
	padding: 10px 0;
	margin-bottom: 15px;
}
.About_info_img {
	margin: 75px;
	width: 700px;
	height: 875px;
}
.info_img {
	width: 350px;
	height: 350px;
}
.info_points_img {
	position: absolute;
	right: 112px;
	margin-top: 270px;
}

.info_img::after {
	content: '';
	display: block;
	position: relative;
	top: -700px;
	left: 101%;
	z-index: 1;
}

.About_info_img .info_img h2 {
	font-style: normal;
	font-weight: 700;
	position: relative;
	width: 190px;
	top: 345px;
	left: -50px;
	font-size: 15px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #000;
	padding: 26px 20px;
	background: #fff;
	box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
	border-radius: 8px;
}

.About_info_img_text .About_info_img .info_img h2 span {
	color: #00c9e0;
}

.About_info_img_text .About_info_img .info_img img {
	opacity: 0.3;
	transition: 0.7s;
}

.About_info_img_text .About_info_img .info_img img:hover {
	opacity: 1;
}

.card__active {
	opacity: 1;
	visibility: visible;
}

.card__non__active {
	opacity: 0;
	visibility: hidden;
	transition: 1s;
}

.base_1 {
	font-family: Larsseit;
	height: 1760px;
	border-radius: 8px;
	justify-self: center;
	text-align: center;
	color: white;
}

.base_2 {
	background-color: #011627;
	margin: o 40px;
}

.base_1 .headerrr {
	width: 545px;
	height: 79px;
	position: relative;
	top: 90px;
	text-align: center;
	justify-self: center;
}
.base_1 .headerrr h2 {
	line-height: 79.2px;
	font-size: 72px;
	width: 580px;
	height: 79px;
	font-weight: 700;
	font-family: 'Stardom';
	margin-top: -90px;
	cursor: pointer;
	transition: 0.5s;
}
.headerrr h2:hover {
	-webkit-text-stroke: 0.3px #fff;
	color: transparent;
}
.headerrr h2:not(:hover) {
	-webkit-text-stroke: 0.3px #fff;
}

.base_1 .headerrr p {
	width: 570px;
	height: 33px;
	line-height: 36px;
	font-size: 24px;
	font-weight: 500;
	padding-top: -20px;
	margin-bottom: 10px;
	transition: 0.5s;
}
.headerrr p:hover {
	-webkit-text-stroke: 0.3px #09f4f4;
	color: transparent;
}
.headerrr p:not(:hover) {
	-webkit-text-stroke: 0.3px #09f4f4;
}
.main {
	margin: 0 10% 0 10%;
}

.main .box {
	transition: transform 1s ease; /* Плавное изменение размера */
}

.main .box:hover {
	transform: scale(1.1); /* Увеличение при наведении */
}

.main .box:not(:hover) {
	transform: scale(1); /* Возвращение к исходному размеру */
}

.main .box {
	width: 493px;
	height: 504px;
	display: inline-block;
	background-color: #02223b;
	position: relative;
	top: 250px;
	margin: 20px;
}
.main .box span {
	width: 32px;
	height: 25px;
	color: #41ead4;
	font-size: 70px;
	font-weight: 900;
	position: absolute;
	left: 50px;
	top: 70px;
}
.main .box .text {
	width: 334px;
	height: 249px;
	position: absolute;
	left: 102px;
	top: 65px;
	text-align: left;
	font-size: 18px;
	line-height: 34px;
	text-indent: 9px;
}
.main .box .text .head {
	font-weight: 700;
}
.main .box .text .texts {
	font-weight: 300;
}
.main .foot img {
	width: 80px;
	height: 90px;
	position: absolute;
	left: 102px;
	top: 365px;
}
.main .foot p {
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	position: relative;
	top: 360px;
	left: 200px;
}
.footers {
	width: 424px;
	height: 172px;
	justify-self: center;
	text-align: center;
	top: 245px;
	position: relative;
	transition: 0.5s;
}
.footers h2 {
	font-size: 72px;
	line-height: 79px;
	text-align: center;
	font-weight: 700;
	width: 448px;
	margin-top: -20px;
	font-family: 'Stardom';
	transition: 0.5s;
}
.footers h2:hover {
	-webkit-text-stroke: 0.3px #fff;
	color: transparent;
}
.footers h2:not(:hover) {
	-webkit-text-stroke: 0.3px #fff;
}
.footers p {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	width: 350px;
	position: relative;
	left: 35px;
	transition: 0.5s;
}

.footers p:hover {
	-webkit-text-stroke: 0.3px #09f4f4;
	color: transparent;
}
.footers p:not(:hover) {
	-webkit-text-stroke: 0.3px #09f4f4;
}
footer {
	font-family: 'Playfair Display';
	color: white;
	position: relative;
	width: 100%;
	height: 527px;
}
footer .table {
	height: 200px;
	padding-left: 215px;
}
footer .box {
	margin-top: 220px;
	vertical-align: top;
	display: inline-block;
	margin-right: 140px;
}
footer h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	height: 24px;
}
footer a {
	margin: 20px 0 20px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 19px;
	color: white;
	text-decoration: none;
	display: block;
	height: 19px;
}
footer .bottom {
	justify-self: center;
	text-align: center;
	position: relative;
	top: 340px;
}
footer .nt {
	font-size: 36px;
	font-weight: 700;
	line-height: 69px;
}
.tochka {
	color: #41ead4;
}
.vert {
	position: relative;
	top: 520px;
	color: none;
	border: 0;
	height: 2px;
	width: 80px;
	rotate: 90deg;
	background: linear-gradient(#09f4f4, #00c9e0);
	border-radius: 13px;
	left: 624px;
}
.gor {
	position: relative;
	left: -14px;
	width: 50px;
	height: 1px;
	background-color: #41ead4;
	color: none;
	border: 0;
}
.cube {
	rotate: 45deg;
	top: -4px;
	left: 49px;
	position: relative;
	width: 5px;
	height: 5px;
	background-color: none;
	color: none;
	border: 1px solid #41ead4;
}
.links {
	display: flex;
	gap: 18px;
	cursor: pointer;
}

.table .box {
	font-family: 'Larsseit';
}

.peoples__content {
	margin: 90px;
	background: #011627;
}
